body{
    background-color:white;
    color: black;

}
h1{
  
    font-family:'Times New Roman';
    color:whitesmoke;
    font-size:120%;
}
h2{
    font-family:'Times New Roman';
    color:black;
}
.top {
    overflow: hidden;
    background-color: black;
}
.top a {
       float: right;
       display: block;
       color: whitesmoke;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
}
.top a:hover{
    background-color: lightgray;
    color:black;
}