body{
    background-color:white;
    color: black;

}
h1{
  
    font-family:'Times New Roman';
    color:black;
    font-size:90%;

}
#header {
    background-color: black;
    color:white;
    text-align: right;
    padding: 20px;
}